<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/02/09 12:57:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseDupli.DupiLead()[pri:0, instance:bl.framework.api.TestCaseDupli@2038ae61]">DupiLead</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>19/02/09 12:57:10</td>   <td>-24632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectsMethods.login()[pri:0, instance:bl.framework.api.TestCaseDupli@2038ae61]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/02/09 12:57:42</td>   <td>7578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.login()[pri:0, instance:bl.framework.api.Demo@3c0f93f1]">login</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
